
.site-header {
    height: 100px;
    background-color: white;

}
.logo img{
    height: 75px;
    width: auto;
}
.font1{
    font-family: sans-serif;
}
.font2{
    font-family: cursive;
    color: #836e2e;
}

body {
    background: #048ABF;
    background: linear-gradient(90deg, rgba(4, 138, 191, 1) 0%, rgba(4, 157, 191, 1) 50%, rgba(4, 138, 191, 1) 100%);
}
#carrosselBaner .carousel-item img {
    height: 500px;
    object-fit: cover;
    margin-top: 100px;
}
    
.product-row{
    margin-top: 200px;
    margin-bottom: 200px;
}
.product{
}


.product-img-container {
    width: 500px;
    height: 500px;
}
.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.site-footer {
    background: #049DBF;
    background: linear-gradient(0deg, rgba(4, 157, 191, 1) 0%, rgba(4, 138, 191, 1) 100%);
}



@media (max-width: 768px) {
    #meuCarrossel .carousel-item img {
        height: 300px;
    }
}

